<ion-header>
  <ion-toolbar>
    <ion-title class="ion-margin-start">My day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="todos-screen">
  <ion-grid fixed class="grid-fix">
    <ion-row>
      <ion-col [size]="taskScreenSize()">
        <ion-grid fixed class="display-tasks">
          <ion-row>
            <ion-col size="12">
              <ion-list class="todos-list">
                <app-todo-item *ngFor="let todo of existTodos"
                [receivedTodo]= "todo"
                [pageLoc] = "userLocation"
                (isOpen)="ChangeOptionsStatus($event)"
                (clickedTodo)="setTodoOption($event)"></app-todo-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col size="12">
              <ion-item class="add-task-item">
                <ion-input 
              type="text"
               placeholder="Add a task" 
               fill="outline" 
               clearInput="true"
               color="dark"
              inputmode="email"
              class="add-task-input"
              (ionFocus)="changeInputIcon()"
              (ionBlur)="changeInputIcon()"
              (keyup)="addNewTask($event)"
               >
               <ion-icon [name]="inputIconName" slot="icon-only" class="icon-inside-input"></ion-icon>
              </ion-input>
              </ion-item>
      
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="3" *ngIf="isOpenOption">
        <app-todo-options [todo]="todoOptionSelected"></app-todo-options>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
