<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="checkScreenSize()">
      <ion-menu-button menu="side-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-margin-start">Completed Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="todos-screen">
  <ion-grid fixed class="display-tasks">
    <ion-row>
      <ion-col size="12">
        <ion-list class="todos-list">
          <app-todo-item *ngFor="let todo of existTodos"
          [receivedTodo]= "todo"
          [pageLoc] = "userLocation"></app-todo-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
