
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="3"  size-lg="3" size-xl="2" *ngIf="!checkScreenSize()">
        <ion-list class="side-menu">
          <ion-item class="ion-margin-vertical" lines="none">
           
            <div>
              <h5 id="user-email">{{logedInUser?.firstName}} {{logedInUser?.lastName}}</h5>
              <p>{{logedInUser?.email}}</p>
              <p>User id : {{logedInUser?.id}}</p>
            </div>
          </ion-item>

          <ion-item lines="none">
              <ion-button  expand="block" fill="solid" (click)="onLogOutUser()" class="auth-button">
                Log out
              </ion-button>
          </ion-item>

          <ion-item
            class="ion-margin-vertical"
            lines="none"
            [routerLink]="['/', 'home' , 'myday']"
          >
            <ion-icon slot="start" name="sunny-outline"></ion-icon>
            <ion-label>My Day</ion-label>
          </ion-item>

          <ion-item
            class="ion-margin-vertical"
            lines="none"
            [routerLink]="['/', 'home' , 'important']"
          >
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-label>Important</ion-label>
          </ion-item>

          <ion-item
            class="ion-margin-vertical"
            lines="none"
            [routerLink]="['/', 'home' , 'completed']">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Completed</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size-md="9"  size-lg="9" size-xl="10" class="all-todo-container">
          <ion-router-outlet></ion-router-outlet>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>                                                                                                                                                      
 