ion-content{
    --background: var(--ion-color-secondary-tint) !important;
}

ion-input{
    &.add-step{
        --padding-start: 50px !important;
        --border-style: none;
         font-size: 0.8rem !important;
         
    }
}

.icon-inside-input{
    font-size: 1rem;
}


ion-item{
    &.step *{
        font-size: 0.9rem !important;
    }
}

