<ion-content>
  <ion-item class="header" lines="none">
    <ion-buttons slot="end">
      <ion-button (click)="closeTodoOptionPanel($event)"> 
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div class="section-container">
  <ion-list class="ion-margin-top detail-section">
    <app-todo-item
      [receivedTodo]="todo"
      [todoText]="todo?.text"
      [isDetailMode]="isDetailMode"
      [flexible]="false">
    </app-todo-item>
    <ion-item lines="none" *ngFor="let step of todo?.subTodos" class="step">
      <ion-buttons slot="start">
        <ion-button (click)="setToComplete(step)">
          <ion-icon slot="icon-only" name="ellipse-outline" *ngIf="!step.isCompleted"></ion-icon>
          <ion-icon slot="icon-only" name="checkmark-circle-outline" *ngIf="step.isCompleted"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label>{{ step.text }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="presentStemMenu(step, $event)">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item lines="none">
      <ion-input
        type="text"
        placeholder="Add step"
        fill="outline"
        clearInput="true"
        class="add-step"
        (ionFocus)="changeInputIcon()"
        (ionBlur)="changeInputIcon()"
        (keyup)="addNewStep($event)"
      >
        <ion-icon
          [name]="inputIconName"
          slot="icon-only"
          class="icon-inside-input"
        ></ion-icon
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top detail-section">
    <ion-item lines="none" button (click)="addToMyDay()">
      <ion-icon slot="start" name="sunny-outline"></ion-icon>
      <ion-label>Add to My Day</ion-label>
      <ion-buttons slot="end" *ngIf="isAddMyDay">
        <ion-button (click)="removeFromMyDay($event)"> 
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list  class="ion-margin-top detail-section">
    <ion-item button lines="none" id="remind-me">
      <ion-icon slot="start" name="alarm-outline"></ion-icon>
      <ion-label *ngIf="!isReminderSet">Remind me</ion-label>
      <div class="reminder-set" *ngIf="reminderStatus === 'pickDate'">
        <ion-label>Remind me at {{sepratedDate?.hourAndMinutes}}</ion-label>
        <p>{{sepratedDate?.dayOfTheWeek}}, {{sepratedDate?.month}} {{sepratedDate?.dayOfTheMonth}}</p>
      </div>
      <ion-buttons slot="end" *ngIf="isReminderSet">
        <ion-button (click)="removeReminder($event)">  
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-popover trigger="remind-me" triggerAction="click" showBackdrop="false" dismissOnSelect="true">
        <ng-template>
          <ion-content>
            <ion-list class="todo-option-sub-menu">
              <ion-item lines="none" button >
                <ion-icon slot="start" name="time-outline"></ion-icon>
                <ion-label>Later today</ion-label>
              </ion-item>
          
              <ion-item lines="none" button>
                <ion-icon slot="start" name="arrow-forward-circle-outline"></ion-icon>
                <ion-label>Tomorrow</ion-label>
              </ion-item>
              <ion-item lines="none" button>
                <ion-icon slot="start" name="play-forward-circle-outline"></ion-icon>
                <ion-label>Next week</ion-label>
              </ion-item>
          
              <ion-item lines="none" button id="date-picker">
                <ion-icon name="calendar-clear-outline"></ion-icon>
                <ion-label>Pick a date & time</ion-label>
                <ion-popover trigger="date-picker"  class="date-picker">
                  <ng-template>
                    <app-date-picker
                    (pickedDate)="getPickedDate($event)"></app-date-picker>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item button lines="none" id="add-due">
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label>Add due date</ion-label>
      <ion-popover trigger="add-due" triggerAction="click" showBackdrop="false" dismissOnSelect="true">
        <ng-template>
          <ion-content>
            <ion-list class="todo-option-sub-menu">
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Today</ion-label>
              </ion-item>
          
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Tomorrow</ion-label>
              </ion-item>
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Next week</ion-label>
              </ion-item>
          
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <ion-label>Pick a date</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item button lines="none" id="repeat">
      <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
      <ion-label>Repeat</ion-label>
      <ion-popover trigger="repeat" triggerAction="click" showBackdrop="false" dismissOnSelect="true">
        <ng-template>
          <ion-content>
            <ion-list class="todo-option-sub-menu">
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Daily</ion-label>
              </ion-item>
          
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Weekdays</ion-label>
              </ion-item>
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Weekly</ion-label>
              </ion-item>
          
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <ion-label>Monthly</ion-label>
              </ion-item>
          
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-outline"></ion-icon>
                <ion-label>Yearly</ion-label>
              </ion-item>
          
              <ion-item lines="none" button >
                <ion-icon slot="start" name="calendar-clear-outline"></ion-icon>
                <ion-label>Custom</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
          
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top detail-section">
    <ion-item button lines="none">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      <ion-label>Add file</ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top detail-section">
    <ion-item lines="none">
      <ion-input type="text"
       placeholder="Add note"></ion-input>
    </ion-item>
  </ion-list>
</div>
  <ion-item class="ion-margin-top footer" lines="none">
  
    <ion-buttons slot="end">
      <ion-button (click)="deleteTodo($event)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>Created on {{todo?.createdAt?.[0]}}, {{todo?.createdAt?.[1]}} {{todo?.createdAt?.[2]}}</ion-label>
  </ion-item>
</ion-content>
