<ion-content>
  <ion-list>

    <app-todo-item
      [receivedTodo]="todo"
      [todoText]="todo?.text"
      [isDetailMode]="isDetailMode"
      [flexible]="false">
    </app-todo-item>

    <ion-item lines="none">
      <ion-input
        type="text"
        placeholder="Add step"
        fill="outline"
        clearInput="true"
        color="dark"
        inputmode="email"
        class="add-step"
        (ionFocus)="changeInputIcon()"
        (ionBlur)="changeInputIcon()"
        
      >
        <ion-icon
          [name]="inputIconName"
          slot="icon-only"
          class="icon-inside-input"
        ></ion-icon
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
