ion-content{
    --background: var(--ion-color-light-tint) !important;
    
}

.section-container{
    padding: 15px;
}
ion-input{
    &.add-step{
        --padding-start: 50px !important;
        --border-style: none;
         font-size: 1rem !important;
    }
}

.icon-inside-input{
    font-size: 1.2rem;
}


ion-item{
    &.step *{
        font-size: 1.2rem !important;
    }
    &:not(.step){

        color: var(--ion-color-medium);
    }
}

.footer{
    --background: transparent; 
    font-size: 0.9rem;
    color: var(--ion-color-medium-shade);
    position: absolute;
    right: 0;
    bottom: 0;

    &::after{
        content: '';
        display: block;
        clear: both;
    }

    ion-buttons{
        margin-left: 5px;
        padding: 0;
        color: var(--ion-color-medium-shade);
    }
}

.header{
    --background: transparent;
    color: var(--ion-color-medium-shade);
}

.detail-section{
    border-radius: 6px;
    border: solid 1px var(--ion-color-light-shade);
}

.todo-option-sub-menu ion-item{
    font-size: 0.8rem;
    ion-icon{
        margin-right: 10px;
        color: inherit;
    }
    &:last-child{
        border-top: solid 1px var(--ion-color-light-shade);
    }
}


.reminder-set{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p{
        margin: 2px;
        font-size: 0.9rem;
    } 
}